<div class="container">
  <h1>{{name}}</h1>
  <nav>
    <a mat-raised-button class="m-2" routerLink="/addMember" routerLinkActive="active">Agregar nuevo Miembro</a>
    <a mat-raised-button class="m-2" routerLink="/search" routerLinkActive="active">Buscar</a>
    <a mat-raised-button class="m-2" routerLink="/checkIn" routerLinkActive="active">Registrar</a>
    <a mat-raised-button class="m-2" routerLink="/fine" routerLinkActive="active">Sanciones</a>
  </nav>
</div>
<router-outlet></router-outlet>
